@keyframes line-typing {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes reveal{
  0% {transform: scaleX(1);
    }
  100% {transform: scaleX(0);

    }
}

@keyframes fade{
   from {opacity: 0;
    }
    to{
        opacity: 1;
    }
}