@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* bg colores */
  --background-color: #0c011d;
  --primary: #3405a1;
  --secondary: #e9e4ee;
  --nav-bg: #e1b6db;
  --imgcard: rgb(94, 27, 114);

  /* Textos colores */
  --text-pri: #a95ff8;
  --text-secu: #ef8cc7;

  /* Tipografia */
  --delius: "Delius Unicase", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  /*Decoracion */
  --gradient-text: linear-gradient(to left, #7f20ed, #f27cd0);
  --gradient-navflo: linear-gradient(to bottom, #14032e, #5e48bf);
  --gradient-nav: linear-gradient(to bottom, #5e48bf, #14032e);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: var(--montserrat);
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10vh;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c011d;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}
